article {
    margin-top: 16px;
}

.mdc-card {
    width: 60%;
    padding: 16px;
    margin: 1% 20%;
}

@media screen and (max-width: 600px) {
    .mdc-card {
        width: 96%;
        padding: 16px;
        margin: 1% 2%;
    }
}